<div class="container-fluid full-height">

  <div class="row full-height align-items-center justify-content-center">
    <div class="col auth-container">

      <div class="row">
        <div class="col">
          <h2>Zaloguj jako rodzic</h2>
        </div>
      </div>

      <div class="row">
        <mat-form-field
          class="col"
          appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field
          class="col"
          appearance="outline">
          <mat-label>Hasło</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div style="height: 32px"></div>

      <div class="row">
        <div class="col">
          <button mat-raised-button class="big-button" color="primary" (click)="login()">
            Zaloguj
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
