<div class="container">

  <div class="row justify-content-center">
    <div class="col sized-container">

      <div class="row header">
        <div class="col-auto">
          <mat-icon class="size-48">person</mat-icon>
        </div>

        <div class="col">
          <h1 class="mat-display-2 header-text">
            {{parent?.name}}
          </h1>
        </div>

        <div class="col justify-content-end">

          <div class="row">
            <div class="col-auto email-icon">
              <mat-icon>email</mat-icon>
            </div>
            <div class="col">
              <h3>{{parent?.email}}</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-divider></mat-divider>
        </div>
      </div>

      <div class="row items-container">
        <div class="col-6 item" *ngFor="let child of children">
          <app-child-item [child]="child" (removed)="refreshData()"></app-child-item>
        </div>
      </div>

      <div class="row">
        <button
          class="child-add-button"
          mat-raised-button
          color="primary"
          (click)="addChild()">
          <mat-icon class="size-24 child-add-button-icon">person_add</mat-icon>
          Dodaj dziecko
        </button>
      </div>

      <div class="row items-container">
        <div class="col-6 item" *ngFor="let medicine of medicines">
          <app-medicine-item [medicine]="medicine" (removed)="refreshData()"></app-medicine-item>
        </div>
      </div>

      <div class="row">
        <button
          class="child-add-button"
          mat-raised-button
          color="primary"
          (click)="addMedicine()">
          <mat-icon class="size-24 child-add-button-icon">playlist_add</mat-icon>
          Dodaj produkt medyczny
        </button>
      </div>

    </div>
  </div>

</div>

