<div class="container-fluid full-height">

  <div class="row full-height align-items-center justify-content-center">
    <div class="col home-container">

      <div class="row">
        <div class="col">
          <h1 class="mat-display-3 center-text">Security demo</h1>
        </div>
      </div>

      <div class="row home-options-container">

        <div class="col-4">
          <button
            class="home-option-button"
            mat-raised-button
            color="primary"
            (click)="registerParent()">
            <mat-icon class="size-48 home-option-button-icon">person_add</mat-icon>
            <h2 class="home-option-button-text">
              Nowe konto rodzica
            </h2>
          </button>
        </div>

        <div class="col-4">
          <button
            class="home-option-button"
            mat-raised-button
            color="primary"
            (click)="loginParent()">
            <mat-icon class="size-48 home-option-button-icon">person</mat-icon>
            <h2 class="home-option-button-text">
              Zaloguj jako rodzic
            </h2>
          </button>
        </div>

        <div class="col-4">
          <button
            class="home-option-button"
            mat-raised-button
            color="primary"
            (click)="loginChild()">
            <mat-icon class="size-48 home-option-button-icon">face</mat-icon>
            <h2 class="home-option-button-text">
              Zaloguj jako dziecko
            </h2>
          </button>
        </div>

      </div>

    </div>
  </div>
</div>
