<div class="container-fluid full-height">

  <div class="row full-height align-items-center justify-content-center">
    <div class="col home-container">

      <div class="row">

        <div class="col-4">
          <mat-card class="home-card" matRipple>
            <div class="home-card-content">
              <h1 class="center-text">Nowe konto rodzica</h1>
            </div>
          </mat-card>
        </div>

        <div class="col-4">
          <mat-card class="home-card" matRipple (click)="loginParent()">
            <div class="home-card-content">
              <h1 class="center-text">Zaloguj jako rodzic</h1>
            </div>
          </mat-card>
        </div>

        <div class="col-4">
          <mat-card class="home-card" matRipple>
            <div class="home-card-content">
              <h1 class="center-text">Zaloguj jako dziecko</h1>
            </div>
          </mat-card>
        </div>

      </div>

    </div>
  </div>
</div>
