<mat-card class="rounded-card" [class.mat-elevation-z0]="true">

  <mat-card-title>{{child.name}}</mat-card-title>

  <mat-card-content>
    <div class="container content">

      <div class="row">
        <div class="col-auto d-flex align-items-center icon-col">
          <mat-icon class="size-18">vpn_key</mat-icon>
        </div>
        <div class="col">
          <p class="mat-body-2 data-text">Klucz połączenia</p>
        </div>
      </div>

      <div class="row">
        <div class="col data-col">
          <h4>{{child.connectionKey}}</h4>
        </div>
      </div>

    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="remove()">USUŃ</button>
  </mat-card-actions>

</mat-card>
